<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <th:block th:fragment="scriptblock">
    	<!-- JQUERY FOR UTILITY PURPOSES -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js" ></script>       		

		<!-- FACEBOOK SDK (REPLACE APP ID) -->       
		<script>
			window.fbAsyncInit = function() {
				FB.init({
				appId      : '!!! REPLACE THIS WITH YOUR APP ID',
				xfbml      : true,
				version    : 'v2.5'
				});
			};
	
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<!-- BUTTON LOGIC, simply have something that triggers the controller methods -->
		<script type="text/javascript" >
			$("#facebook-login").click(function() {
				FB.login(function(response) {
					if (response.authResponse) {
						var authRes = response.authResponse;
						var connected = response.connected;
						FB.api('/me', function(response) {
							$.ajax({
								type: "POST",
								url: "/account/facebook-login",
								data: { 
									accessToken: authRes.accessToken,
									expiresIn: authRes.expiresIn,
									signedRequest: authRes.signedRequest,
									connected: connected,
									email: response.email,
									firstName: response.first_name,
									gender: response.gender,
									id: response.id,
									lastName: response.last_name,
									name: response.name,
									timezone: response.timezone,
									verified: response.verified 
								},
								success: function(){
									//reload page once OK, so we can show the 'logged in' message
									//do here what you want, of course
									location.reload();
								},
								headers : {
									'X-CSRF-Token' : $("meta[name='_csrf']").attr("content") 
								}
							});
						});
					} else {
						//user hit cancel button
						console.log('User cancelled login or did not fully authorize.');
					}
				}, {
					//what do you want to retrieve?
					scope: 'public_profile,email'					
				});
			});	 
			 
			$("#facebook-logout").click(function(){
				$.ajax({
					type: "GET",
					url: "/account/facebook-logout",
					success: function(){ 
						//once logged out, refresh the page
						location.reload(); 
					},
					headers : { 
						'X-CSRF-Token' : $("meta[name='_csrf']").attr("content") 
					}
				});
			});
		</script>
    </th:block>
  </body>
</html>